 <div class="row">
    <form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
        <label>Firstname:</label>
        <input type="text" formControlName="firstname">
        <p *ngIf="_registerForm.controls.firstname.errors">This field is required!</p>

         <label>lastname:</label>
        <input type="text" formControlName="lastname">
        <p *ngIf="_registerForm.controls.lastname.errors">This field is required!</p>
    </form>
 <div class="row">
     <div class="form-row">
      <button type="submit" [disabled]="!_registerForm.valid">Save</button>
    </div>
 </div>